<app-head-nav></app-head-nav>
<section class="h-100 h-custom" style="background-color: #e4e8ee">
    <div class="container py-5 h-100">
        <div id="conceptos" class="card">
            <h1 class="text-center">Maíz</h1>
            <p>La noción de <b>maíz</b> , procedente del taíno mahís, alude a una planta que forma parte del grupo familiar de las gramíneas. 
                Puede alcanzar una altura de hasta tres metros, con un tallo de gran grosor, hojas puntiagudas y flores femeninas y masculinas.
            </p>
            <br>
            <p>
                <b>El maíz es originario del continente americano,</b> donde fue domesticado hace cerca de 10 000 años. A Europa llegó en el siglo XVII. En la actualidad se trata de uno de los cultivos más importantes del mundo por su relevancia nutritiva, ya que produce mazorcas cuyos granos son muy valorados.
                Se llama <b>mazorca </b> al fruto de determinadas plantas gramíneas, que crece en una espiga densa y que presenta granos que se ubican uno al lado del otro. En el caso del maíz, estos granos son amarillos. Cabe destacar que el término maíz también se usa para hacer referencia específicamente a la mazorca (o choclo) y a los granos.
            </p>
            <br>
            <p>
                Existen múltiples <b>variedades</b> de maíz. Los mayas y los olmecas ya cultivaban varias de ellas, preparando los granos de distintas maneras. A partir del año 2500 antes de Cristo los cultivos fueron expandiéndose por el territorio americano y, tras la llegada de los conquistadores europeos, terminó arribando al Viejo Continente.
            </p>
            <br>
            <p>
                <img src="https://cdn.republica.gt/012022/1642024018807.webp?cw=753&ch=423&extw=png" alt="img-Maiz">
            </p>
             <h2>El Maíz en <b>Guatemala</b> </h2>
             <p>
                <b>El maíz es el grano básico de mayor consumo en Guatemala</b>, la principal forma de consumo es <b>“la tortilla”</b> elaborada en los hogares a partir del grano entero, siendo la base de la comida de la mayoría de las familias guatemaltecas, consumiendo en promedio 114 kg por persona por año (2.5 quintales), sin embargo, este valor puede duplicarse y en algunos casos hasta triplicarse dependiendo del ingreso económico de las familias 
             </p>
             <h3>Situación actual del cultivo de maíz</h3>
             <p>
                El maíz ocupa la mayor superficie del área con potencial de uso agrícola a nivel nacional, durante el año 2017-2018, se sembraron en Guatemala 1,074,058 hectáreas con el cultivo de maíz, de las cuales se estimó una producción de 2,605,551 Toneladas Métricas; con un rendimiento promedio de 2,205.14 kg/ha (33.96 quintales/manzana) (ENA, 2018). 
             </p>
             <br>
             <p>
                La producción nacional se encuentra distribuida de la siguiente forma: Petén (18%), Alta Verapaz (10%), Quiché (8%), Jutiapa (7%), Huehuetenango (6%), San Marcos (5%), Retalhuleu (5%), Santa Rosa (5%), Chimaltenango (4%), Escuintla (4%), Quetzaltenango (4%), y los demás departamentos de la República suman el (24%) restante (Figura 1). El 62.3% de la superficie cosechada se encuentra concentrada en 7 departamentos: Petén (18.4%). Alta Verapaz (13.1%), Quiché (8.1%), Huehuetenango (7.5%), Jutiapa (6.6%), San Marcos (4.7%), e Izabal (4%) (MAGA, 2015; MAGA, 2018)
             </p>
             <br>
             <p>
                En Guatemala el maíz se produce mayormente en pequeñas áreas de terreno, siendo por esta razón un cultivo de minifundio, el 92% de las fincas donde se produce posee una extensión menor a siete hectáreas.
             </p>
             <p>
                <img src="https://www.icta.gob.gt/publicaciones/Maiz/2020/PRODUCCI%C3%93N%20DE%20MA%C3%8DZ%20POR%20DEPARTAMENTO%202015.jpg" alt="img-grafica">
            </p>
            <p>
                origin img: <a href="">https://www.icta.gob.gt/maiz</a>
            </p>
            
        </div>
        <br>
        <div id="maiz-guate" class="card">
            <h2 class="text-center">Usos del Maíz en Guatemala</h2>
            <p>
                El maíz es un alimento fundamental en la cultura de Guatemala, y se utiliza en numerosos aspectos <b>culturales, religiosos y tradicionales</b>
            </p>
            <h3>Categorias</h3>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Alimentación</div>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Festividades</div>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Ceremonias religiosas</div>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Cosmovisión Maya</div>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Artesanía</div>
                    </div>
                  </li>
              </ol>
        </div>
        <br>
        <div class="card">
            <h2>Categorias para los foros informativos de los usos</h2>
            <p>
                En estos foros podras  <b> reaccionar y comentar</b> (opinar,discutir) sobre como utilizan 
                el Maíz en tu pueblo, departamento o municiopio sobre los temas 
                principales: <b>el uso del maíz en Guatemala</b>
            </p>
            <div id="foros" class="row">
                <div class="col-md-6" >
                    <app-cards></app-cards>  
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
