<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" >fdfsad</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" type="button" >Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button" >Area Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button" >Area Productos</a>
          </li>
        </ul>
        <div class="nav-item">
            <a class="navbar-brand" >fdfdsf</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="hero">
    <h1><b>Usos del Maíz en Guatemala</b></h1>
    
  </div>